#trainBtn {
    margin: 5px 13px;
}

#modelSelection QRadioButton {
    margin-left: 25px;
    margin-right: 6px;
}

#modelSelection #structureSizeComboBox, #modelSelection #3DRadio, #modelSelection #trainingStepInput, #modelSelection #timeoutCheckbox {
    margin-left: 60px;
}

#modelSelection #timeoutHourInput:disabled {
    background-color: #414851;
    color: #868E93;
}