name: Auto-add feature requests and bug reports to project board

on:
  issues:
    types: [opened]

jobs:
  add_to_project:
    runs-on: ubuntu-latest
    if: contains(github.event.issue.labels.*.name, 'Requests')
    steps:
      - name: Add issue to project
        uses: actions/add-to-project@v1
        with:
          project-url: https://github.com/orgs/AllenCell/projects/9
          content-id: ${{ github.event.issue.node_id }}
          column-name: Scoping