name: Publish tag to PyPI

on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Tag to publish to PyPI (e.g. 'v0.1.11')"
        required: true
        type: string

jobs:
  publish:
    name: Publish
    runs-on: [ubuntu-latest]
    environment: release
    permissions:
      id-token: write
      contents: write

    steps:
      - uses: actions/checkout@v4
        with:
          ref: main
      
      - name: Check out tag
        run: |
          git fetch --tags
          git checkout ${{ inputs.tag }}

      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

# importlib 8.0.0 is broken, we should be able to un-pin this once 8.0.1 is released
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build
          pip install importlib_metadata==7.2.1
    
      - name: Build Package
        run: |
          python -m build

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/