name: Test and lint on push

on: [push]

jobs:
  test_and_lint:
    name: ${{ matrix.os }} python${{ matrix.python-version }}

    uses: ./.github/workflows/test_lint.yml
    with:
      os: ${{ matrix.os }}
      python-version: ${{ matrix.python-version }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.10"]
